@media only screen and (max-width: 468px){
    footer{
        text-align: center;
    }
    footer ul{
        text-align: center;
        flex-direction: column;
    }
    footer li{
        margin: 10px 0;
    }
}